.features {
  @include reset-list;
}

.features__title {
  position: relative;

  padding: 0 0 0 72px;
  margin: 0 0 36px 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 37.02px;
  color: #111111;
  text-transform: uppercase;

  &::before {
    position: absolute;
    left: 12px;
    top: -5px;
    z-index: 1;

    content: "";

    width: 50px;
    height: 50px;

    border: 25px solid #68b738;
    border-radius: 50%;
  }
}

.features__text {
  padding: 0 16px 24px 0;
  margin: 0 0 20px 0;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;

  border-bottom: 1px solid #dadada;

  &--add-weight {
    padding-right: 39px;
  }
}

.features__item {
  position: relative;

  padding: 24px 20px 22px;
  margin-bottom: 20px;

  background-color: #f2f2f2;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    //display: block;
    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-size: 35px 49px;
    background-position: 30px 22px;
  }
}

.feature__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}
