.footer {
  width: 100%;

  background-color: #f2f2f2;
}

.footer__contacts-block {
  width: 100%;
  min-height: 114px;
  background-color: #ffffff;
}

.footer__contacts-wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 31px 20px 26px;
  margin: 0 auto;
}

.footer__title {
  padding: 0;
  margin: 0;
  width: 124px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.footer__contacts {
  padding: 0;
  margin: 0;
  width: 134px;
}

.footer__map-img {
  display: block;
  margin: 0 auto;
}

.footer__logo-image {
  display: block;
  margin: 0 auto;
}

.footer__logo {
  padding: 39px 20px 31px;
}
