.main-nav {
  margin: 0 auto;
}

.main-nav-block {
  border-bottom: 1px solid #dadada;
}

.main-nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  padding: 11px 20px 16px;
  margin: 0 auto;
}

.main-nav__picture {
  max-width: 191px;
}

.main-nav__img {
  display: block;
  min-width: 191px;
  height: 100%;
}

.main-nav__toggle {
  display: block;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  padding: 0;

  border: none;
  background: #ffffff url("../img/icon-close.svg") no-repeat;
  background-size: 18px 18px;
}

.main-nav__menu {
  @include reset-list;
}

.main-nav__item {
  padding: 24px 20px;

  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #111111;
  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid #dadada;
}

.main-nav__link {
  color: #111111;
}
