@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin ie11-active {// что бы в IE11 работал :active надо вешать псевдоэлемент на ссылку
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";

    display: block;
    width: 0;
    height: 0;
  }
}
